<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.trip.spring_mybatis.dao.TblHotLineDao">

    <select id="findById" resultType="com.trip.spring_mybatis.pojo.dto.TblHotLine">
        select * from tbl_hot_line where id = #{id}
    </select>
</mapper>